{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <h1>{{ object.titulli }}</h1>
            <div class="post_commentbox"> <a href="{% url 'user-posts' object.author.username %}"><i class="fa fa-user"></i>{{ object.author }}</a> <span><i class="fa fa-calendar"></i>
                      {% load i18n %}
                      {% language 'sq' %}
                      {{object.data_e_postimit|date:"d F / Y | G:i"}}
                      {% endlanguage %}</span>
              {% for kat in katego %}
              {% if forloop.counter < 2 %}
              <a href="{% url 'category' kat.id kat.slug %}"><i class="fa fa-tags"></i>{{ object.kategorit }}</a> 
              {% endif %}
              {% endfor %}
              {% if user.is_superuser %}
              <i style="color: grey;" class="fa fa-eye"> {{ object.shikime }} </i>
              {% endif %}
            </div>
            <div class="single_page_content"> <img class="img-center" src="{{MEDIA_URL}}{{ object.fotografit.url }}" alt="">
              <p>{{ object.detajet|safe }}</p>
              {% if object.author == user %}
                  <a  class="btn default-btn" href="{% url 'lajme-update' object.id object.slug %}">Update</a>
              {% endif %}
            </div>
            <div class="related_post">
              <h3 style="margin-bottom: 4.5rem; text-align: center;">Artikujt e Sponsorizuara <i class="fa fa-thumbs-o-up"></i></h3>
              <ul class="spost_nav wow fadeInDown animated">
                {% for spon in sponsor %}
                {% if forloop.counter < 4 %}
                <li>
                  <div class="media"> <a class="media-left" href="{% url 'sponsor-detail' spon.id spon.slug %}"> <img src="{{MEDIA_URL}}{{spon.fotografit.url}}" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="{% url 'sponsor-detail' spon.id spon.slug %}">{{ spon.titulli }}</a> </div>
                  </div>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--<nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>City Lights</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Street Hills</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> </nav> -->
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Me Te Lexuarat</span></h2>
            <ul class="spost_nav">
              {% for read in shikime %}
              {% if forloop.counter < 6 %}
              <li>
                <div class="media wow fadeInDown"> <a href="{% url 'lajme-detail' read.id read.slug %}" class="media-left"> <img alt="" src="{{MEDIA_URL}}{{read.fotografit.url}}"> </a>
                  <div class="media-body"> <a href="{% url 'lajme-detail' read.id read.slug %}" class="catg_title"> {{ read.titulli }} </a> </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="{% static 'images/add_img.jpg' %}" alt=""></a> </div>
          
        </aside>
      </div>
    </div>
  </section>

{% endblock %}